

@import 'setup/vars.css';
@import 'setup/typography.css';

@import 'components/app-home.css';
@import 'components/user-msg.css';

@import 'apps/keep/note-preview.css';
@import 'apps/mail/mail-preview.css';

@import 'parts/base.css';
@import 'parts/fonts.css';
@import 'parts/helpers.css';
@import 'parts/layout.css';

@import 'components/app-home.css';
@import 'components/user-msg.css';

@import 'mq/mq.css';

body{
    margin: 0;
}
