/* .mail-preview-container {
  display: grid;
  grid-template-columns: 
} */

.mail-preview-container {
  display: grid;
  grid-template-columns: 3fr 3fr 7fr 3fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: fit-content;
  text-align: center;
  text-decoration: none;
}

.mail-star {
  grid-column: 1;
}

/* .mail-squeare {
  grid-column: 1;
}

.mail-star{
grid-column: 2;
} */

.mail-from {
  margin-right: 5em;
  /* font-weight: 700; */
  grid-column: 2;
}

.mail-subject {
  /* font-weight: 700; */
  text-align-last: left;
}

.mail-short-content {
  grid-column: 3;
  text-align-last: left;
}

.mail-time {
  margin: 1em;
  grid-column: 4;
}

.mail-star,
.mail-squeare {
  margin: 0.5em;
}

.router-mail-details {
  text-decoration: none;
  color: black;
}

.bold-content {
  font-weight: 700;
}

.make-bold .mail-subject,
.make-bold .mail-from {
  font-weight: 700;
}
