@media screen and (max-width:820px) {
    .note-preview {
        width: inherit;
        word-break: break-all;
        padding: 10px;
    }
    .note-preview img{
        border-radius: 18px;
    }

    .add-note-form {
        grid-template-columns: repeat(12, 25px);
        grid-template-rows: repeat(3, 25px);
    }

    .icon-container:hover,
    .note-modificator img:hover {
        background-color: transparent;
    }

    .palette-hub {
        margin-left: 80px;
    }

    .note-preview .palette-hub {
        margin-left: 0;
    }

    .keep {
        top: auto;
        right: 60px;
    }

    .mail {
        top: auto;
        right: 140px;
    }

    .nav {
        top: auto;
    }

    .main-header div {
        display: flex;
        align-self: center;
        align-items: center;
    }

    /* mail */
    .mail-main-layout {
        grid-template-columns: 1fr fit-content;
        grid-template-rows: 1fr 11fr;
    }

    .side-menu {
        padding-top: 10px;
        display: grid;
        grid-template-rows: 1fr fit-content;
        grid-column: 1;
        grid-row: 1;
    }

    .sort-mail-btn {
        grid-column: 2;
        margin: 0 auto;
    }

    .main-mails {
        grid-column: 1/3;
    }

    .mail-preview-container {
        padding: 10px;
        width: inherit;
    }

    .mail-from {
        margin: 0;
    }

    .mail-filter {
        display: grid;
        grid-row: 1;
    }

    .inbox-btn {
        border-radius: 12px;
    }

    .sent-btn {
        margin-top: 3px;
        border-radius: 12px;
        background-color: rgb(239, 246, 250);
    }

    .compose-btn {
        justify-self: center;
        align-self: center;
        padding: 15px;
        width: fit-content;
        margin: 0 auto;
        margin-left: 15px;
        margin-top: 15px;
    }
}

@media screen and (min-width:820px) {
    .demo-input {
        width: 370px
    }
}