.mails-list {
  list-style: none;
}

.mail-tool {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail-tool>*{
  margin: 0 auto;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
}