.mail-main-layout {
  height: 100vh;
  width: 100vw;
  background-color: rgb(252, 244, 244);
}

.compose-btn {
  text-decoration: none;
  background-color: #c2e7ff;
  padding: 10px 35px;
  border-radius: 20px;
  font-weight: 700;
  color: black;
  border: 0.5px solid grey;
  display: block;
  margin: 2rem;
}
