.add-mail-container {
  margin: 30px auto;
  max-width: 609px;
  display: flex;
}

.add-mail-container>* {
  display: block;
  margin-bottom: 10px;
}

.send-mail-btn {
  background-color: rgba(24, 24, 195, 0.822);
  color: white;
  font-weight: 600;
  padding: 8px 13px;
  border-radius: 6px;
  border: none;
}

.input-mail-to,
.input-mail-subject,
.input-mail-content {
  border-radius: 4px;
  justify-self: center;
  margin: 10px;
}

.input-mail-to,
.input-mail-subject {
  border: 0.5px solid grey;
  padding: 8px 50px 8px 3px;
}
.add-mail-container h4 , .add-mail-container button{
  margin-left: 10px;
  margin-top: 0;
}