.note-preview-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.note-preview {
    flex: 1 1 fit-content;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 1.5vw;
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    margin: 15px;
    align-self: stretch;
    align-items: center;
    max-width: 550px;
}


.note-preview img {
    width: 175px;
    border-radius: 1.5vw;
    padding-left: 8px;
    padding-right: 8px;
}

.note-preview iframe {
    display: block;
    justify-self: center;
    margin: auto;
    width: 260px;
    border: 0px;
    border-radius: 2vh;
    padding-left: 8px;
    padding-right: 8px;
}

.note-pin-status {
    height: 30px;
    margin: 2px;
    margin-top: 10px;
    margin-left: 35%;
}


.note-modificator {
    animation: 100ms ease-out 0s 1 slideInFromTop;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 40px;
    border-radius: 1vw;
    transition: 640ms;
}

.note-modificator-placeholder {
    height: 40px;
    transition: 2s;
}

.note-modificator img {
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: 25px;
    margin-left: 1px;
    transition: 100ms;
}

.note-modificator img:hover {
    background-color: #f0f0f0;
    transition: 100ms;
    cursor: pointer;
}

.note-modificator img:nth-of-type(4) {
    height: 18px;
    padding: 3.5px;
}

.fade-out {
    opacity: 0;
}

.note-inner-content h1,
.note-inner-content h2,
.note-inner-content h3 {
    word-wrap: break-word;
}
