@import url('https://fonts.googleapis.com/css?family=Poppins:700');

body {
  margin: 0;
}

.background {
  z-index: -10;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #FFB1A4;
  display: flex;
  align-items: center;
}

.background h1 {
  color: white;
  font-size: 20vmin;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-left: 40px;
}

.background h1 span {
  font-size: 12vmin;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023F92;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }

  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }

  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }

  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  100% {
    transform: scale(1) translate(10px, -30px);
  }
}

.nav {
  font-size: 2.1rem;
  position:absolute;
  top: 2.7vw;
  right: 3vw;
  color: rgb(20, 18, 18);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.nav:hover {
  cursor: pointer;
}

.keep,
.mail {
  position: fixed;
  top: 3vw;
  z-index: 99;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgba(225, 211, 211, 0);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.keep {
  right: 120px;
}

.mail {
  right: 240px;
}

.main-header {
  height: 15vh;
  background-color: rgb(241, 243, 252);
  display: flex;
  align-items: center;
  
}
.main-header>*>*{
  color: black;
  margin: auto 0;
  position:absolute;
}
.main-header div {
  margin-left: 20px;
}

.logo {
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}