.home-page-intro {
  background-color: rgb(49, 129, 199);
  height: 50vh;
  width: 50vw;
  border-radius: 6vh;
}

.main-content {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  background-color: rgb(53, 57, 61);
  font-size: 4em;
  color: aliceblue;
}
