.keep-main-layout {
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: rgb(241, 243, 252);
    transition-property: red;
    transition: red 4s;
}

.keep-main-layout>.note-details {
    min-height: 17vh;
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-curr-note>* {
    position: fixed;
    top: 30%;
    margin: 0 auto;
    z-index: 99;
}