@import './pages/keep-index.css';
@import './pages/keep-details.css';

@import './cmp/keep-preview.css';
@import './cmp/keep-palette.css';

body {
    margin: 0px;
    box-sizing: border-box;
    width: 100vw;
}


@keyframes slideInFromTop {
    0% {
        transform: translatey(-18%);
    }

    100% {
        transform: translatey(0);
    }
}

@keyframes formAnimation {
    0% {
        transform: translatey(-5.5%);
    }

    100% {
        transform: translatey(0);
    }
}

@keyframes demoFormAnimation {
    0% {
        height: 60px;
        transform: translatey(+25%);
    }

    100% {
        height: 6vh;
        transform: translatey(0);
    }
}

