.keep-main-layout {
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 243, 252);
}

.note-details {
    min-height: 17vh;
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-details input {
    border: 1.5px solid gray;
    text-align: center;
    background-color: rgb(240, 247, 247);
    width: fit-content;
    min-width: 65vw;
    height: 6vh;
    border-radius: 1vw;
    box-shadow: 0 1px 1px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.note-preview-container {
    height: 70vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1vw;
    column-gap: 1vh;
    margin: 0 auto;
}

.note-preview {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    align-self: center;
    justify-self: center;
    border: 1px solid gray;
    height: fit-content;
    width: 100%;
    max-width: 250px;
    background-color: rgb(242, 139, 130);
    border-radius: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.note-preview section {
    padding: 10px;
}

.note-preview img {
    width: 14vw;
    margin-bottom: 10px;
    border-radius: 1vw;
}

.note-preview:nth-child(even) {
    background-color: #e8eaed;
}