@keyframes slideInFromTop {
    0% {
        transform: translatey(-18%);
    }

    100% {
        transform: translatey(0);
    }
}

@keyframes formAnimation {
    0% {
        transform: translatey(-5.5%);
    }

    100% {
        transform: translatey(0);
    }
}

@keyframes demoFormAnimation {
    0% {
        height: 60px;
        transform: translatey(+25%);
    }

    100% {
        height: 6vh;
        transform: translatey(0);
    }
}

.fade-out {
    opacity: 0;
}

body {
    margin: 0px;
    box-sizing: border-box;
    width: 100vw;
}

.keep-main-layout {
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: rgb(241, 243, 252);
}

.note-details {
    min-height: 17vh;
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-input {
    box-shadow: 0 1px 1px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    text-align: center;
    width: fit-content;
    font-size: 0.9rem;
    height: 6vh;
    width: 420px;
    border: 0px;
    outline: 0px;
    border-radius: 7px;
    /* animation: 200ms ease-out 0s 1 demoFormAnimation; */
}

.note-preview-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note-preview {
    margin: 7px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border: 1px solid gray;
    height: fit-content;
    min-width: 150px;
    max-width: 250px;
    border-radius: 1.5vw;
    display: grid;
    text-align: center;
}

.note-inner-content {
    padding: 10px;
    padding-bottom: 0;
}

.note-preview img {
    width: 175px;
    border-radius: 1.5vw;
}

.note-modificator {
    animation: 100ms ease-out 0s 1 slideInFromTop;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 40px;
    border-radius: 1vw;
    transition: 640ms;
}

.note-modificator-placeholder {
    height: 40px;
    transition: 2s;
}

.note-modificator img {
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: 25px;
    margin-left: 1px;
    transition: 100ms;
}

.note-modificator img:hover {
    background-color: #f0f0f0;
    transition: 100ms;
    cursor: pointer;
}

.note-modificator img:nth-of-type(4) {
    height: 18px;
    padding: 3.5px;
}

.palette-hub {
    margin-top: 7px;
    height: fit-content;
    width: fit-content;
    border-radius: 12px;
    background-color: rgb(241, 243, 252);
    outline: 2px solid rgb(67, 66, 66);
    display: grid;
    grid-template-columns: repeat(5, 24px);
    grid-template-rows: repeat(4, 22px);
    justify-self: center;
    gap: 3px;
    padding: 3px;
    animation: 500ms ease-out 0s 1 slideInFromTop;
}

.colors-pallete {
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    outline: 1px solid rgb(91, 87, 87);
    height: 20px;
    width: 20px;
    transition: 200ms;
}

.colors-pallete:hover {
    cursor: pointer;
    outline: 3px solid rgb(91, 87, 87);
    transition: 200ms;
}

.colors-pallete h2 {
    display: none;
}

.add-note-form {
    box-shadow: 0 1px 1px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    background-color: rgb(251, 253, 255);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(12, 35px);
    grid-template-rows: repeat(3, 35px);
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    row-gap: 15px;
    /* animation: 300ms ease-out 0s 1 formAnimation; */
}

.add-note-form input {
    height: fit-content;
    box-shadow: none;
    outline: 0px;
    border: 0px;
    border-radius: 0;
}

.form-title {
    grid-column: 1 /12;
    font-size: 1.1rem;
}

.form-txt-content {
    grid-column: 1/13;
    grid-row: 2;
    font-size: 0.9rem;
    color: rgb(131, 126, 126);
}

.icon-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.new-note-pin {
    grid-column: 12;
}

.new-note-pin img {
    width: 60%;
}

.new-note-palette {
    grid-column: 1;
}

.new-note-palette img {
    width: 74%;
}

.new-note-text img {
    justify-self: center;
    width: 80%;
}

.new-note-img img {
    width: 87%;
    height: 100%;
    justify-self: center;
}

.new-note-video img {
    height: 88%;
    margin-top: 3px;
    justify-self: center;
}

.new-note-todos img {
    height: 75%;
    align-self: center;
    justify-self: center;
}

.add-note-form button {
    cursor: pointer;
}

.add-new-note {
    background-color: transparent;
    grid-column: 9/span 2;
    border: 0;
    height: 80%;
    width: 90%;
    border-radius: 4px;
    transition: 500ms;
    background-color: var(--kblue);
    color: white;
}

.close-new-note-form {
    background-color: transparent;
    grid-column: 11/span 2;
    border: 0;
    height: 80%;
    width: 90%;
    transition: 300ms;
}