:root {
    /* colors */
    /* keep */
    /* main colors */
    --kblue: #5e00ff;
    /* keep-palette */
    --kp1: #febf77;
    --kp2: #ff7978;
    --kp3: #b9dc58;
    --kp4: #feffff;
    --kp5: #f9c923;
    --kp6: #f0932a;
    --kp7: #eb4c4b;
    --kp8: #69b04d;
    --kp9: #c7ebed;
    --kp10: #7ed6df;
    --kp11: #e156fe;
    --kp12: #696de0;
    --kp13: #31336b;
    --kp14: #94afbf;
    --kp15: #22a6b3;
    --kp16: #bf2ede;
    --kp17: #4734d3;
    --kp18: #120e3f;
    --kp19: #535d67;
    --kp20: #f7e58e;
}